body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hangman {
    margin-top: 20px;
    text-align: center;
}

#hangman div {
    display: none;
    font-size: 2em;
    text-align: center;
}
